@import '~antd/es/style/themes/default.less';

a.listItemMetaTitle {
  padding-left: 6px;
}

.list {
  :global {
    .ant-list-item h4.ant-list-item-meta-title {
        padding-top: 18px;
        border-top: 1px solid #f0f0f0;
    }
  }
}
