@import '~antd/es/style/themes/default.less';

a.listItemMetaTitle {
  color: @heading-color;
}
.listItemExtra {
  width: 272px;
  height: 1px;
}
.selfTrigger {
  margin-left: 12px;
}

@media screen and (max-width: @screen-xs) {
  .selfTrigger {
    display: block;
    margin-left: 0;
  }
}
@media screen and (max-width: @screen-md) {
  .selfTrigger {
    display: block;
    margin-left: 0;
  }
}
@media screen and (max-width: @screen-lg) {
  .listItemExtra {
    width: 0;
    height: 1px;
  }
}

.pcontainer {
  padding-bottom: 0px;
  :global {
    .ant-page-header-heading-title {
      margin-top: 12px;
      font-size: 48px;
      line-height: 1.4;
    }
    .ant-collapse-header {
      padding: 0 0 16px 0 !important;
      color: @primary-color !important;
      font-weight: bold;
      font-size: 14px;
    }
    .ant-collapse-content-box {
      padding-bottom: 32px !important;
      padding-bottom: 0 !important;
    }
  }
}

.select {
  width: 100%;
}

.listcard {
  margin-top: 24px;
  :global {
    .ant-card-body {
      padding: 16px 0;
    }
  }
}
